
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;

}
.title{
    height: 100%;
}

.title-photo{

    height: 100%;

}


.title-text{
    font-size: 2.5rem;

}
.text_under_title{
    font-size: 1rem;
}

.star{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.star::before,
.star::after{
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    line-height: 4px;
    background-color: white;
    vertical-align: middle;
    border-radius: 2px;
}


.star-container-portfolio div::before,
.star-container-portfolio div::after{
    content: '';
    display: inline-block;
    width: 15%;
    height: 4px;
    line-height: 4px;
    background-color: black;
    vertical-align: middle;
    border-radius: 2px;

}

.portfolio{
    object-fit: cover;
    width: 100%;
}

.footer-top{
    background-color: rgb(44, 94, 107);
    font-size: 1rem;
}

.footer-bottom,
.navbar{
    background-color: rgb(32, 66, 75);

}

.rounded-circle{
    border: 1px solid white;
    width: 2rem;
}
.ms_icons{
    font-size: 1.5rem;
}




